{# src/DATA/DataBundle/Resources/views/Artwork/index.html.twig #}
 
{% extends "AdminBundle::layout.html.twig" %}

{% block title %}
    Home - {{ parent() }}
{% endblock %} 
    
{% block h1 %}
    Home
{% endblock %}

{% block breadcrumb %}
    {{ parent() }}
{% endblock %}

{% block h1_extend %}
{% endblock %}
    
{% block content %}
    <div class="row">
        <section class="col-md-12">
            {% for flashMessage in app.session.flashbag.get('notice') %}
                <div class="alert col-md-12 alert-success">
                    {{ flashMessage }}
                </div>
                <br />
            {% endfor %}

            <div class="well">
                <h2>Admin Links</h2>

                <ul>
                    <li><a href="{{ path('admin_evaluation_user_index') }}">Users list</a></li>
                </ul>
                <hr />
                <ul>
                    <li><a href="{{ path('admin_entity_insert') }}">Insert Fetch</a></li>
                    <li><a href="{{ path('admin_entity_viewWaitingFetch') }}">Waiting Fetch</a></li>
                    <li><a href="{{ path('admin_entity_resetFetch') }}">Reset Fetch</a></li>
                </ul>
                <hr />
                <ul>
                    <li><a href="{{ path('admin_graph_index') }}">View Graph</a></li>
                </ul>
            </div>
        </section>
    </div>
{% endblock %}