{# src/DATA/DataBundle/Resources/views/Artwork/index.html.twig #}
 
{% extends "AdminBundle::layout.html.twig" %}

{% block title %}
    Home - {{ parent() }}
{% endblock %} 
    
{% block h1 %}
    Home
{% endblock %}

{% block breadcrumb %}
    {{ parent() }}
{% endblock %}

{% block h1_extend %}
    <input type="text" class="form-control" value="http://europeana-evaluation.karl-pineau.fr/admin/7jCqTsRaGlUNwpe" />
{% endblock %}
    
{% block content %}
    <div class="row">
        <section class="col-md-12">
            {% for flashMessage in app.session.flashbag.get('notice') %}
                <div class="alert col-md-12 alert-success">
                    {{ flashMessage }}
                </div>
                <br />
            {% endfor %}

            <div class="well">
                <h2>Admin Links</h2>

                <ul>
                    <li><a href="{{ path('admin_evaluation_user_index', {'authtoken': authtoken}) }}">List of users</a></li>
                </ul>
                <hr />
                <ul>
                    <li><a href="{{ path('admin_graph_index', {'authtoken': authtoken}) }}">View recommendations</a></li>
                </ul>
                {% if authtoken == "JoaN4Qhzo2DemdQ4YDiLmK4QJjqmI294ii" %}
                <hr />
                <ul>
                    <li><a href="{{ path('admin_entity_insert', {'authtoken': authtoken}) }}">Insert Fetch</a></li>
                    <li><a href="{{ path('admin_entity_viewWaitingFetch', {'authtoken': authtoken}) }}">Waiting Fetch</a></li>
                    <li><a href="{{ path('admin_entity_resetFetch', {'authtoken': authtoken}) }}">Reset Fetch <span class="text-warning">DO NOT USE</span></a></li>
                    <li><a href="{{ path('admin_entity_similarityProcess', {'authtoken': authtoken}) }}">Similarity Process</a></li>
                </ul>
                {% endif %}
            </div>
        </section>
    </div>
{% endblock %}