{# src/DATA/DataBundle/Resources/views/Artwork/index.html.twig #}
 
{% extends "AdminBundle::layout.html.twig" %}

{% block title %}
    Graph - {{ parent() }}
{% endblock %} 
    
{% block h1 %}
    Graph
{% endblock %}

{% block breadcrumb %}
    {{ parent() }}
    <li class="active">Graph</li>
{% endblock %}

{% block h1_extend %}
    <a class="btn btn-sm btn-danger" href="{{ path('admin_graph_remove') }}"><i class="fa fa-remove"></i> Remove graph (no way back!)</a>
{% endblock %}
    
{% block content %}
    <div class="row">
        <section class="col-md-12">
            {% for flashMessage in app.session.flashbag.get('notice') %}
                <div class="alert col-md-12 alert-success">
                    {{ flashMessage }}
                </div>
                <br />
            {% endfor %}

            {% for object in objects %}
                <div class="well">
                    <img src="{{ entity_graph.getThumbnail(object) }}" style="max-height: 100px;" />
                    {% for property, value in object %}
                    <dl class="dl-horizontal">
                        <dt>{{ property }}</dt>
                        <dd>{{ messenger_stringify.stringify(value, ', ', false) }}</dd>
                    </dl>
                {% endfor %}
                </div>
            {% else %}
                <div class="alert alert-warning">No graph</div>
            {% endfor %}

        </section>
    </div>
{% endblock %}